@use "../../../../../common/variable" as v;

section.opinions-users {
  // opacity: 20%;
  background-color: v.$secund_words_color;
  margin-top: 152px;
  height: auto;
  .container {
    text-align: center;
    div.opinions-users-top {
      h2.opinions-users-header {
        color: v.$main-section-color;
        font-size: 46px;
        @media (max-width: 767.98px) {
          font-size: 25px;
        }
      }

      p.opinions-users-paragraph {
        color: v.$landing_paragraph_color;
        margin-top: 5px;
        font-size: 18px;
        @media (max-width: 767.98px) {
          font-size: 16px;
        }
      }
    }

    div.opinions-persons-box {
      min-height: 645px;
      position: relative;
      padding-bottom: 50px;
      display: flex;
      flex-direction: column;
      @media (max-width: 767.98px) {
        min-height: 600px;
      }
      @media (min-width: 767.98px) and (max-width: 991.98px) {
        min-height: 608px;
      }

      div.person-ballets {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-top: 27px;
        padding-bottom: 50px;
        span {
          display: block;
          width: 12px;
          height: 12px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%;
          transition: background-color 0.6s;
          &.active {
            background-color: v.$main_words_color;
          }
          &:not(.active) {
            background-color: #eef0f3;
          }
        }
      }
    }
  }
}
