@use "../../../../../common/variable" as v;
@use "../../../../../common/mixin" as m;

section.contactsLanding {
  // opacity: 30%;
  position: relative;
  z-index: 1;
  min-height: 1054px;
  background-image: linear-gradient(
    to bottom,
    v.$main-section-color 760px,
    #fff 760px
  );
  div.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 3;

    padding-top: 229px;
    div.content-box {
      h1.main-header {
        color: v.$secund_words_color;
        font-size: 53px;
        font-weight: 500;
        word-spacing: 2px;
        max-width: 929px;
        margin: auto;
        position: relative;
        z-index: 997;
        &::before {
          content: "";
          background-image: url(http://localhost:3000/static/media/Pattern2.5ddfeb05dd947c234b6f.svg);
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          top: -94px;
          left: 6px;
          width: 129px;
          height: 129px;
          z-index: -1;
          @media (max-width: 767.98px) {
            top: -52px;
            left: -34px;
            width: 81px;
            height: 81px;
          }
          @media (min-width: 767.98px) and (max-width: 991.98px) {
            top: -87px;
            left: 74px;
          }
          @at-root html[dir="rtl"]
              section.contactLanding
              h1.main-header::before {
            left: auto !important;
            right: -50px;
            @media (max-width: 767.98px) {
              left: -34px;
            }
            @media (min-width: 767.98px) and (max-width: 991.98px) {
              right: -13px;
            }
          }
        }
        @media (max-width: 767.98px) {
          font-size: 24px;
          max-width: 395px;
        }
        @media (min-width: 991.98px) {
          font-size: 53px;
          line-height: 1;
        }
      }
    }
    div.contact-landing-img {
      position: absolute;
      z-index: 3;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      max-width: 600px;
      min-width: 300px;
      @media (max-width: 767.98px) {
        bottom: 200px;
      }
      img {
        width: 100%;
      }
    }
    div.bullets-item {
      position: absolute;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      z-index: 990;
      @media (max-width: 767.98px) {
        width: 25px;
        height: 25px;
      }
      &:nth-child(1) {
        background-color: v.$landing-bullet-one;
        top: 0;
        left: -22px;
        @media (max-width: 767.98px) {
          top: 0;
          left: -14px;
        }
      }
      &:nth-child(2) {
        background-color: v.$landing-bullet-three;
        bottom: 124px;
        left: 277px;
        @media (max-width: 767.98px) {
          background-color: v.$landing-bullet-three;
          bottom: 184px;
          left: 266px;
        }
      }
      &:nth-child(3) {
        background-color: v.$landing-bullet-two;
        top: 15%;
        right: 389px;
        @media (max-width: 991px) {
          top: 13%;
          right: 258px;
        }
        @media (max-width: 768px) {
          top: 13%;
          right: 101px;
        }
      }
      &:nth-child(4) {
        background-color: v.$landing-bullet-four;
        top: 35%;
        right: -40px;
        @media (max-width: 767.98px) {
          top: 285;
          right: -6px;
        }
      }
      &:nth-child(5) {
        background-color: v.$landing-bullet-five;
        bottom: -11px;
        @media (max-width: 767.98px) {
          bottom: 56px;
          left: 48px;
        }
        @media (min-width: 767.98px) and (max-width: 991.98px) {
          bottom: -69px;
          right: 15px;
        }
        @media (min-width: 992px) {
          right: 15%;
        }

        @at-root html[dir="rtl"]
            section.coursesLanding
            div.bullets-item:nth-child(5) {
          @media (max-width: 767.98px) {
            right: auto !important;
            left: 15% !important;
          }
        }
      }
      &:nth-child(6) {
        background-color: v.$landing-bullet-one;
        top: 18%;
        left: -22px;
        @media (max-width: 767.98px) {
          top: 141px;
          left: 11px;
        }
      }
      &:nth-child(7) {
        background-color: v.$landing-bullet-one;

        bottom: 35px;
        left: 325px;
        @media (max-width: 767.98px) {
          bottom: 131px;
          right: 47px;
        }

        @media (min-width: 767.98px) and (max-width: 991.98px) {
          bottom: -47px;
          left: 200px;
        }
      }
    }
  }
}
