// color variable
$main-section-color: #170f56;
$sec-back-sections: #f7f8f9;
$main_words_color: #f3c065;
$secund_words_color: #ffffff;
$landing-img-one: #fcd45b;
$landing-img-two: #82b2da;
$landing-img-three: #ec6b74;
$landing-img-four: #ffd064;
$landing-bullet-one: #f59e0b;
$landing-bullet-three: #fe646f;
$landing-bullet-two: #60b7ff;
$landing-bullet-four: #f3c065;
$landing-bullet-five: #32a861;
$nav_paragraph_color: #bbc3cf;
$landing_paragraph_color: #9799b4;
$sections_paragraph_color: #9396b2;
$border-button-transparent: #77798b;
$benefit-item-header-color: #2a3342;
$benefit-item-paragraph-color: #9394af;
$benefit_background: #f5f5f5;
$footer_color: #8896ab;
$footer_links_color: #8082a3;
$social_icons_color: #bbc3cf;
$placeholder: #667085;
$border_input: #d5d7d6;
// color add in courses page
$select-color: #fafafa;
$option-color: #9d9cac;
$filter-header-color: #f9f6fd;
//teachers
$name_teachers: #343b4f;
$career_teachers: #9598a2;
// contact us
$contact_address: #575a86;
// margin variable
$container-left-m: 143px;
$container-right-m: 85px;
$back_search_courses: #8385a6;
$courses_placeholder: #c1c2d3;
