@use "../../../style/common/variable" as v;

footer.footer {
  // opacity: 20%;
  background-color: v.$sec-back-sections;
  padding: 85px 0;
  position: relative;
  z-index: 2;
  div.container {
    div.footer-top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media (max-width: 991.98px) {
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
      div.footer-top-left {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        @media (max-width: 991.98px) {
          flex-direction: column;
          align-items: center;
        }
        .get-app {
          max-width: 480px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          @media (max-width: 991.98px) {
            flex-direction: row;
          }
          a.get-app-img {
            display: block;
            border-radius: 6px;
            overflow: hidden;
            img {
              display: block;
              // width: 150px;
              // height: 51px;
            }
          }
        }
      }

      div.footer-top-right {
        flex-grow: 1;
        text-align: start;
        @media (max-width: 767.98px) {
          align-self: flex-start;
          width: 100%;
        }
        div.list-box {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-grow: 1;
          width: 100%;
          ul.list-ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
            list-style: none;
            margin: 0;
            padding: 0;
            color: #8082a3;
            @media (max-width: 767.98px) {
              width: 100%;
              flex-direction: column;
              flex-wrap: wrap;
              height: 200px;
              gap: 30px;
            }
            a.list-item {
              text-decoration: none;
              color: v.$footer_links_color;
              font-size: 19px;
              -webkit-transition: color 0.6s;
              -moz-transition: color 0.6s;
              -ms-transition: color 0.6s;
              -o-transition: color 0.6s;
              transition: color 0.6s;
            }
          }
        }
      }
    }

    div.footer-bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 74px;
      @media (max-width: 767.98px) {
        flex-direction: column;
        text-align: center;
      }
      div.footer-bottom-left {
        color: v.$footer_color;
        font-size: 16px;
        @media (max-width: 767.98px) {
          margin-bottom: 15px;
        }
      }

      div.footer-bottom-right {
        display: flex;
        justify-content: center;
        gap: 37px;
        padding-right: 13px;
        i {
          color: v.$social_icons_color;
          font-size: 19px;
        }
      }
    }
  }
}
